.StockSelect {
  width: 48.4%;
  background-color: white;
  color: rgb(92, 43, 226);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5%;
  padding: 0 20px;
  border: solid 2px rgb(92, 43, 226);
  position: fixed;
  z-index: 2;
  top: 10%;
  left: 0px;
}
