.sideMain {
  height: 431px;
  width: 300px;
  right: 24px;
  position: absolute;
  border-radius: 12px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  top: 300px;
  position: absolute;
}
