.cryptoSelect {
  width: 48.4%;
  background-color: rgb(92, 43, 226);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.8%;
  position: fixed;
  border: 2px solid white;
  z-index: 2;
  top: 10%;
  right: 0px;

  .cryptoSelect__title a {
    text-decoration: none;
    color: white;
  }
}
